{% extends 'base.html' %}
{% block content %}

{% load crispy_forms_tags %}

<section class="vh-100 d-flex justify-content-center align-items-center">
<form action="" method="post">
    {% csrf_token %}

    <div class="card mx-auto" style="width: 25rem;">
      <div class="card-body">
        {{ form | crispy }}        
        <button class="btn btn-sm btn-primary float-end" id="btnAbrirCaja" type="submit">Abrir caja</button>
      </div>
    </div>
</form>    
</section>
{%endblock content%}

