<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load django_bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}

        <!-- {% bootstrap_messages %}  -->
        {% load static %}
    <title>Bootstrap demo</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link href="{% static 'DataTables/DataTables-1.13.6/css/dataTables.bootstrap5.css' %}" rel="stylesheet">

    <link href="{% static 'DataTables/Buttons-2.4.2/css/buttons.dataTables.css' %}" rel="stylesheet">
    {% block style %}


    {% endblock style%}
  </head>

  <body>
    <div class="container">      
    {% bootstrap_messages %}
    {% block content %}

    {% endblock content %}
  </div> 
  <script src="{% static 'DataTables/jQuery-3.7.0/jquery-3.7.0.js' %}"></script>  
  <script src="{% static 'DataTables/DataTables-1.13.6/js/jquery.dataTables.js' %}"></script>
  <!-- <script src="{% static 'DataTables/datatables.min.js' %}"></script>   -->
  <script src="{% static 'DataTables/DataTables-1.13.6/js/dataTables.bootstrap5.js' %}"></script>

  <!-- buttons  -->
  <script src="{% static 'DataTables/Buttons-2.4.2/js/dataTables.buttons.min.js' %}"></script>

   <!-- generar pdf -->
  <script src="{% static 'DataTables/pdfmake-0.2.7/pdfmake.min.js' %}"></script> 
  <script src="{% static 'DataTables/pdfmake-0.2.7/vfs_fonts.js' %}"></script> 

  <!-- generar excel -->
  <script src="{% static 'DataTables/JSZip-3.10.1/jszip.min.js' %}"></script>

  <script src="{% static 'DataTables/Buttons-2.4.2/js/buttons.html5.min.js' %}"></script>

  <script src="{% static 'DataTables/es-ar.js' %}"></script> 
  
  <script src="{% static 'bootbox/bootbox.min.js' %}"></script>  
</body>
{% block javascript %}

{% endblock javascript %}
</html>