<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load django_bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}

        <!-- {% bootstrap_messages %}  -->
        {% load static %}
    <title>Bootstrap demo</title>
  </head>
  <body>
    <div class="container">      
    {% bootstrap_messages %}
    {% block content %}

    {% endblock content %}
  </div>
     <!-- begin: opcional a bootstrap_messages, ver Displaying messages -->
      <!-- {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
      {% endif %} -->
      <!-- end: opcional a bootstrap_messages, ver Displaying messages -->
  </body>
</html>