{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- templates/cliente_form.html -->
<!-- templates/cliente_form.html -->
<div class="modal-header">
    <h5 class="modal-title">{{ view.title }}</h5>
    <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
</div>
<div class="modal-body">
    <form id="clienteForm" method="post">
        {% csrf_token %}
        {{ form.as_p }}
    </form>
</div>
<!-- <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
    <button type="button" class="btn btn-primary" id="submitBtn">Guardar</button>
</div> -->
{% endblock content %}
{% block javascript %}
<script>
    // $('#submitBtn').click(function () {
    //     var form = $('#clienteForm');
    //     $.ajax({
    //         type: form.attr('method'),
    //         url: form.attr('action'),
    //         data: form.serialize(),
    //         success: function (data) {
    //             if (data.form_is_valid) {
    //                 $('#myModal').modal('hide');
    //                 $('#clientesTable').DataTable().ajax.reload(null, false);
    //             } else {
    //                 $('#modalContent').html(data.html_form);
    //             }
    //         }
    //     });
    // });
</script>
{% endblock javascript %}


